<!DOCTYPE html>
<html lang="en">
<head>
    {{>extlinks}}
</head>
<body>

    {{>navbar}}
    <div class="container-fluid main_header">
         <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                 <div class="row">
                     <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                           <img src="images/404.jpg" class="img-fluid"/>
                        </figure>
                            <h1>{{errorMsg}}</h1>
                            <a href="/"><button>GO BACK</button></a>
                      </div>
                 </div>
            </div>    
     </div>
    </div>
    {{>footer}}
</body>
</html>