<!DOCTYPE html>
<html lang="en">
<head>
  {{>extlinks}}
</head>
<body>
   {{>navbar}}
    
    <div class="container-fluid main_header">
         <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                 <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/DSC_0576 (2).JPG" style="width: 40rem; height: 60rem;"/>
                        </figure>
                      </div>
                      <div class="col-md-6 col-12 main_header_left">
                            <p>Welcome to My World</p>
                            <h1>I am a Rapper<span> Coder </span> and also a drummer</h1>
                            <a href="https://www.linkedin.com/in/nitin-srivastava-68a894176/" target="_Nitin"><button>About me</button></a>
                      </div>
                 </div>
            </div>    
     </div>
    </div>
    {{>footer}}
</body>
</html>